body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

#app-container {
    margin: auto;
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: center; /* Center items horizontally in the container */
}

#parameters {
    width: 100%; /* Make the parameters div take the full width of its parent */
    display: flex;
    justify-content: center; /* Center its children */
}

#freqSlider {
    width: 80%; /* Set the slider width to 80% of its parent */
}
